:root {
    --Cyan: hsl(178, 100%, 50%);
    --Soft-blue: hsl(215, 51%, 70%);

    --Very-dark-blu: hsl(217, 54%, 11%);
    --Very-dark-blue: hsl(216, 50%, 16%);
    --Very-dark-blue-2: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

aside {
    border-top: 1px solid hsl(178, 100%, 50%, 0.2);
    padding-top: 15px;
}

body {
    align-items: center;
    background-color: var(--Very-dark-blu);
    display: flex;
    font-family: 'Outfit', sans-serif;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
    padding: 0;
}

h2 {
    color: var(--Cyan);
}

.avatar {
    align-items: center;
    display: flex;
}

.container {
    align-items: center;
    background-color: var(--Very-dark-blue);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 600px;
    padding: 24px;
    width: 300px;
}


.coin-image {
    height: 300px;
    width: 300px;
    
}

.coin-image img {
    border-radius: 16px;
    width: 100%;
}

.footer {
    color: var(--Soft-blue);
}

.footer span {
    color: var(--Cyan);
    font-weight: bold;
}

.image-avatar {
    border: 2px solid white;
    border-radius: 50%;
    height: 40px;
    margin-right: 20px;
    width: 40px;
}
.paragraph-title {
    color: var(--Soft-blue);
    font-size: 18px;
    margin-bottom: 0;
}

.coin-value-date {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.coin-value {
    align-items: center;
    display: flex;
    justify-content: left;
}

.coin-date {
    align-items: center;
    display: flex;
    justify-content: right;
}

.paragraph-icon {
    margin-left: 5px;
}

.paragraph-clock {
    color: var(--Soft-blue);
}

.paragraph-ethereum {
    color: var(--Cyan);
    font-weight: bold;
}